@import "tailwindcss";

@font-face {
  font-family: 'Apercu';
  src: url('https://cdn.shopify.com/s/files/1/0747/3020/9569/files/Apercu-Regular.woff2') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0747/3020/9569/files/Apercu-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('https://cdn.shopify.com/s/files/1/0747/3020/9569/files/EBGaramond-Regular.woff2') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0747/3020/9569/files/EBGaramond-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('https://cdn.shopify.com/s/files/1/0747/3020/9569/files/EBGaramond-Italic.woff2') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0747/3020/9569/files/EBGaramond-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Apercu';
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  color: #3F443F;
  letter-spacing: normal;
}

textarea {
  font-family: 'Apercu';
}

body.gradient {
  background: #eae6e3;
  background: #f9f6f1;
}

p {
  font-family: 'Apercu';
  font-size: 15px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  color: #3F443F;
  letter-spacing: normal;
  clear: both;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
.h0,
.h1,
.h2,
.h3,
.h4 {
  font-weight: normal;
  margin: 0 0 20px;
  padding: 0;
  font-family: 'EB Garamond';
  letter-spacing: normal;
}

h1,
.h1 {
  font-size: 40px;
  line-height: 46px;

  @media (max-width: 767px) {
    font-size: 25px;
    line-height: 22px;
    color: #3f443f;
  }
}

h2,
.h2 {
  font-size: 36px;
  line-height: 36px;
}

h3,
.h3 {
  font-size: 30px;
  line-height: 36px;

  @media(max-width:1199px) {
    font-size: 26px;
    line-height: 28px;
  }

  @media(max-width:767px) {
    font-size: 25px;
    line-height: 22px;
  }
}

h4,
.h4 {
  font-size: 26px;
  line-height: 26px;
}

h5,
.h5 {
  font-family: 'Apercu';
  font-size: 16px;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: normal;
  font-weight: 700;
}

.button {
  background: #766E5F;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 165px;
  height: 49px;
  border: 1px solid #F9F6F1;
  color: #fff;
  font-family: 'Apercu';
  font-size: 15px;
  letter-spacing: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: inherit;
  min-height: inherit;
  transition: background .1s ease-in, color .1s ease-in;
  -moz-transition: background .1s ease-in, color .1s ease-in;
  -webkit-transition: background .1s ease-in, color .1s ease-in;
  cursor: pointer;
}

.button:hover {
  background: transparent;
  border-color: #766E5F;
  color: #766E5F;
}

.button.white-button {
  border-color: #fff;
  color: #fff;
}

.button.white-button:hover {
  background: #fff;
  color: #766E5F !important;
  border-color: #fff;
}

.button::after,
.button::before {
  display: none !important;
}

.hide {
  display: none !important;
}

.large--hide {
  display: none !important;
}

@media(max-width:991px) {
  .i--hide {
    display: none !important;
  }
}

@media(max-width:767px) {
  .large--hide {
    display: inherit !important;
  }

  .small--hide {
    display: none !important;
  }
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

@layer base {

  /* Pulled from lilluvdog style sheet */
  :root {
    --color-base-accent-1: 63, 68, 63;
    --color-base-background-1: 255, 255, 255;
    --color-base-background-2: 249, 246, 241;
    --color-base-solid-button-labels: 255, 255, 255;
    --color-base-text: 63, 68, 63;
    --font-body-family: 'Apercu', sans-serif;
    --font-body-style: normal;
    --font-body-weight-bold: 700;
    --font-body-weight: 400;
    --font-heading-family: 'EB Garamond', sans-serif;
    --font-heading-style: normal;
    --font-heading-weight: 400;
  }

  :root {
    --color-accent: rgb(var(--color-base-accent-1));
    --color-bg-soft: rgb(var(--color-base-background-2));
    --color-bg: rgb(var(--color-base-background-1));
    --color-text: rgb(var(--color-base-text));
  }

  html {
    font-family: var(--font-body-family);
  }

  body {
    background-color: #f9f6f1;
    color: var(--color-text);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-heading-family);
  }
}